* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

.container {
  max-width: 1145px;
  margin: 0 auto;
  padding: 0 15px;
  flex: 1 1 1145px;
}

.buttons {
  display: flex;
  gap: 33px;
}

.button {
  padding: 8px 20px;
  border-radius: 10px;
  font-family: "Nunito Sans";
  font-size: 18px;
  font-weight: 700;
}
.button__log {
  color: white;
  background: #5a8fd4;
  border: 2px solid #5a8fd4;
}
.button__register {
  color: #757978;
  background: #fdfdfd;
  border: 2px solid #5a8fd4;
}
.button__more--fill {
  color: #ffffff;
  background: #8cba29;
  border: 2px solid #8cba29;
}
.button__card {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  order: 999;
  margin-left: auto;
  padding-right: 24.87px;
  font-family: "Nunito Sans";
  font-weight: 700;
  font-size: 18px;
  background: #ffffff;
}

.header {
  display: flex;
  align-items: center;
  height: 57.18px;
  background-color: #404040;
}
.header__items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.icons {
  display: flex;
  align-content: center;
  gap: 28.5px;
}

.swith-languages {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16.93px;
  font-family: Open Sans;
  font-size: 18px;
  color: white;
}
.swith-languages--active {
  color: #8cba29;
}

.nav {
  display: flex;
  align-items: center;
  height: 102px;
  font-family: Nunito Sans;
  font-weight: 400;
  font-size: 20px;
  background-color: #fdfdfd;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}
.nav__items {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.menu {
  display: flex;
  flex-direction: row;
  gap: 24.78px;
  align-items: center;
}
.menu__logo {
  margin-left: -40px;
}
.menu__section {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.screen-first {
  background: #f3f3f3;
}

.carousel {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 6.05px;
}

.text {
  font-family: "Nunito Sans";
}
.text__title {
  white-space: nowrap;
  margin-bottom: 39.33px;
  font-weight: 700;
  font-size: 60px;
  color: #707070;
}
.text__subtitle {
  margin-bottom: 16.21px;
  font-weight: 700;
  font-size: 24px;
  color: #444444;
}
.text__content {
  margin-bottom: 37.33px;
  max-width: 533.75px;
  font-weight: 400;
  font-size: 18px;
  line-height: 24.55px;
  color: #757978;
}

.first-img {
  margin-right: -40px;
}
.first-img img {
  max-width: 100%;
}

.screen-two {
  background: #fdfdfd;
}

.hidden {
  visibility: hidden;
}

.cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 23.46px;
  row-gap: 71.9px;
  padding-top: 60.65px;
  padding-bottom: 98.96px;
  background: #ffffff;
}

.card {
  width: 356px;
  height: 304.75px;
  border-radius: 23px;
  box-shadow: -10px 14px 18px rgba(194, 194, 194, 0.25);
  background: #ffffff;
}
.card__title {
  margin: 0 auto;
  padding-top: 20.71px;
  max-width: 200px;
  font-family: "Nunito Sans";
  font-weight: 700;
  font-size: 24px;
  color: #545454;
  text-align: center;
}
.card__img {
  display: block;
  margin: auto;
}

.screen-three {
  background: #f7f7f7;
}