* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  overflow-x: hidden;
  font-family: "Nunito Sans";
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 48px;
}

h2 {
  font-size: 36px;
}

.container {
  max-width: 1146px;
  margin: 0 auto;
  padding: 0 15px;
  flex: 1 1 1146px;
}

.button {
  padding: 8px 20px;
  border-radius: 10px;
  font-family: "Nunito Sans";
  font-size: 18px;
  font-weight: 700;
}
.button__card {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  order: 999;
  margin-left: auto;
  padding-right: 24.87px;
  font-family: "Nunito Sans";
  font-weight: 700;
  font-size: 18px;
  background: #ffffff;
}
.button__card--small {
  display: flex;
  align-items: center;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  background: #ffffff;
}
.button__card--small img {
  padding: 0 10px;
}

.button {
  padding: 8px 20px;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 700;
}
.button__fill {
  display: inline-block;
  margin: 0 auto;
  color: #fdfdfd;
  border: 2px solid #96be1e;
  background: #96be1e;
}
.button__border {
  display: inline-block;
  margin: 0 auto;
  border: 2px solid #96be1e;
  background: rgba(0, 0, 0, 0);
}

.header {
  display: flex;
  align-items: center;
  height: 50px;
  background-color: #404040;
}
.header__items {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex: auto;
}

.icons {
  display: flex;
  align-content: center;
  gap: 30px;
}

.swith-languages {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 30px;
  font-family: Open Sans;
  font-size: 18px;
  color: #fdfdfd;
}
.swith-languages img {
  margin-right: 90px;
}
.swith-languages--active {
  color: #96be1e;
}

.nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  height: 102px;
  font-weight: 400;
  font-size: 20px;
  background-color: #fdfdfd;
}
.nav__body {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.menu {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 24.78px;
  color: #404040;
}
.menu__items {
  display: flex;
  flex-direction: row;
  gap: 20px;
  font-size: 20px;
}
.menu__section {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 10px;
}

.exit {
  display: flex;
  gap: 32px;
}

.screen-first {
  background: #f3f3f3;
}

.carousel {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.text {
  font-family: "Nunito Sans";
}
.text__title {
  white-space: nowrap;
  margin-bottom: 39.33px;
  font-weight: 700;
  font-size: 60px;
  color: #707070;
}
.text__subtitle {
  margin-bottom: 16.21px;
  font-weight: 700;
  font-size: 24px;
  color: #444444;
}
.text__content {
  margin-bottom: 37.33px;
  max-width: 533.75px;
  font-weight: 400;
  font-size: 18px;
  line-height: 24.55px;
  color: #757978;
}

.first-img {
  margin-right: -40px;
}
.first-img img {
  max-width: 100%;
}

.scroll-carousel {
  display: block;
  margin: 0 auto;
  width: 579px;
  padding-bottom: 55.76px;
}

.screen-two {
  background: #fdfdfd;
}

.hidden {
  visibility: hidden;
}

.cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 23.46px;
  row-gap: 71.9px;
  padding-top: 60.65px;
  padding-bottom: 98.96px;
  background: #ffffff;
}

.card {
  width: 356px;
  height: 304.75px;
  border-radius: 23px;
  box-shadow: -10px 14px 18px rgba(194, 194, 194, 0.25);
  background: #ffffff;
}
.card__body {
  display: flex;
  flex-direction: column;
  padding: 0 41.77px;
}
.card__body:not(first-child) {
  gap: 4.32px;
}
.card__title {
  margin: 0 auto;
  padding-top: 20.71px;
  max-width: 185px;
  min-height: 66px;
  font-family: "Nunito Sans";
  font-weight: 700;
  font-size: 24px;
  color: #545454;
  text-align: center;
}
.card__subtitle {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  color: #303030;
  margin-bottom: 7.86px;
}
.card__img {
  display: block;
  margin: auto;
}

.screen-three {
  background: #f7f7f7;
  padding-bottom: 64.48px;
}

.title {
  padding: 80px 0 50px;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  text-align: center;
  color: #707070;
}

.sliders__cards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.sliders__card {
  width: 260px;
  height: 390px;
  background: #ffffff;
  box-shadow: -6px 10px 15px rgba(194, 194, 194, 0.4);
  border-radius: 12px;
}
.sliders__card p,
.sliders__card h3 {
  padding-left: 27.21px;
  padding-right: 19px;
}
.sliders__img {
  margin-bottom: 14.68px;
}
.sliders__data {
  padding-bottom: 9px;
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  color: #707070;
}
.sliders__title {
  padding-bottom: 12.18px;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  color: #404040;
}
.sliders__text {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: #707070;
}
.sliders__nav {
  display: flex;
  margin: 29.94px 0 10.57px;
  cursor: pointer;
}

.four {
  background: #e3e3e3;
}
.four__body {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.four__title {
  font-family: "Nunito Sans";
  font-weight: 700;
  font-size: 48px;
  color: #707070;
  padding-bottom: 41px;
}

.two__body {
  display: flex;
  flex-direction: column;
  padding: 80px 0;
}
.two__title {
  text-align: center;
  padding-bottom: 52px;
  font-family: "Nunito Sans";
  font-weight: 700;
  font-size: 48px;
  color: #707070;
}
.two__columns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 52px;
}
.two__column {
  max-width: 260px;
}
.two__logo {
  padding-bottom: 12px;
}

.column__title {
  font-family: "Nunito Sans";
  font-weight: 700;
  line-height: 33px;
  font-size: 24px;
  text-transform: uppercase;
  color: #404040;
}