* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

.container {
  max-width: 1145px;
  margin: 0 auto;
  padding: 0 15px;
  flex: 1 1 1145px;
}

.header {
  display: flex;
  align-items: center;
  height: 57.18px;
  background-color: #404040;
}
.header__items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.icons {
  display: flex;
  align-content: center;
  gap: 28.5px;
}

.swith-languages {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16.93px;
  font-family: Open Sans;
  font-size: 18px;
  color: white;
}
.swith-languages--active {
  color: #8cba29;
}

.nav {
  display: flex;
  align-items: center;
  height: 102px;
  font-family: Nunito Sans;
  font-weight: 400;
  font-size: 20px;
  background-color: #fdfdfd;
}
.nav__items {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.menu {
  display: flex;
  flex-direction: row;
  gap: 24.78px;
  align-items: center;
}
.menu__logo {
  margin-left: -40px;
}
.menu__section {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.buttons {
  display: flex;
  gap: 33px;
}

.button {
  padding: 8px 20px;
  border-radius: 10px;
  font-family: Nunito Sans;
  font-size: 18px;
  font-weight: 700;
}
.button__log {
  color: white;
  background: #5a8fd4;
  border: 2px solid #5a8fd4;
}
.button__register {
  color: #757978;
  background: #fdfdfd;
  border: 2px solid #5a8fd4;
}