.button {
    &__card {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        order: 999;
        margin-left: auto;
        padding-right: 24.87px;
        font-family: "Nunito Sans";
        font-weight: 700;
        font-size: 18px;
        background: #ffffff;

        &--small {
            display: flex;
            align-items: center;
            font-family: "Nunito Sans";
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            background: #ffffff;

            img {
                padding: 0 10px;
            }
        }
    }
}

.button {
    padding: 10px 20px;
    border-radius: 10px;
    font-size: $text-size;
    font-weight: 700;
    line-height: 25px;

    &__fill {
        display: inline-block;
        color: $white;
        border: 2px solid $green;
        background: $green;
    }

    &__border {
        display: inline-block;
        border: 2px solid $green;
        background: rgba(0, 0, 0, 0);
    }
}
