.buttons {
    display: flex;
    gap: 33px;
}
.button {
    padding: 8px 20px;
    border-radius: 10px;
    font-family: "Nunito Sans";
    font-size: 18px;
    font-weight: 700;

    // &__log {
    //     color: white;
    //     background: #5a8fd4;
    //     border: 2px solid #5a8fd4;
    // }

    // &__register {
    //     color: #757978;
    //     background: #fdfdfd;
    //     border: 2px solid #5a8fd4;
    // }

    // &__more {
    //     display: inline-block;
    //     margin: 0 auto;
    //     border: 2px solid #8cba29;
    //     background: rgba(0, 0, 0, 0);

    //     &--fill {
    //         color: #ffffff;
    //         background: #8cba29;
    //         border: 2px solid #8cba29;
    //     }

    &__card {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        order: 999;
        margin-left: auto;
        padding-right: 24.87px;
        font-family: "Nunito Sans";
        font-weight: 700;
        font-size: 18px;
        background: #ffffff;

        &--small {
            display: flex;
            align-items: center;
            font-family: "Nunito Sans";
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            background: #ffffff;

            img {
                padding: 0 10px;
            }
        }
    }
}

.button {
    padding: 8px 20px;
    border-radius: 10px;
    font-size: $text-size;
    font-weight: 700;

    &__fill {
        display: inline-block;
        margin: 0 auto;
        color: $white;
        border: 2px solid $green;
        background: $green;
    }

    &__border {
        display: inline-block;
        margin: 0 auto;
        border: 2px solid $green;
        background: rgba(0, 0, 0, 0);
    }
}
