.button {
    padding: 10px 20px;
    border-radius: 10px;
    font-size: $text-size;
    font-weight: 700;
    line-height: 25px;
    color: $dark-grey;

    &__fill {
        display: inline-block;
        color: $white;
        border: 2px solid $green;
        background: $green;
    }

    &__border {
        display: inline-block;
        border: 2px solid $green;
        background: rgba(0, 0, 0, 0);
    }

    &__card {
        display: flex;
        align-items: center;
        margin-left: auto;
        padding-right: 50px;
        font-weight: 700;
        font-size: $text-size;
        background: rgba(0, 0, 0, 0);
        color: $dark-grey;

        &--margin-left {
            margin: 0;
            margin-left: 41px;
        }
    }
}
