.nav {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    @include flexCenter;
    height: 102px;
    font-weight: 400;
    font-size: 20px;
    background-color: $white;

    &__body {
        @include flexCenter;
        flex-direction: row;
        justify-content: space-between;
    }
}
.menu {
    @include flexCenter;
    flex-direction: row;
    gap: 24.78px;
    color: $dark-grey;

    &__items {
        display: flex;
        flex-direction: row;
        gap: 20px;
        font-size: 20px;
    }

    &__section {
        @include flexCenter;
        flex-direction: row;
        gap: 10px;
    }
}
.exit {
    display: flex;
    gap: 32px;
}
