.screen-first {
    padding: 36px 0 74px;
    background: $light-grey;
}
.carousel {
    @include rowBetween;
    align-items: center;
    margin-bottom: 57px;
}

.text {
    display: flex;
    flex: auto;
    flex-direction: column;
    align-items: flex-start;

    &__title {
        position: absolute;
        top: 300px;
        z-index: 0;
        white-space: nowrap;
        font-weight: 700;
        line-height: 100%;
        color: $grey;
    }

    &__subtitle {
        margin: 22px 0 17px;
        font-weight: 700;
        font-size: $title-size;
        line-height: 33px;
        color: $dark-grey;
    }

    &__content {
        margin-bottom: 40px;
        max-width: 530px;
        font-weight: 400;
        font-size: 18px;
        line-height: 25px;
        color: $grey;
    }
}
.first-img {
    max-width: 100%;
}

.scroll-carousel {
    display: block;
    margin: 0 auto;
    width: 579px;
}
