.screen-first {
    // height: 90vh;
    background: #f3f3f3;
}
.carousel {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.text {
    font-family: "Nunito Sans";

    &__title {
        white-space: nowrap;
        margin-bottom: 39.33px;
        font-weight: 700;
        font-size: 60px;
        color: #707070;
    }

    &__subtitle {
        margin-bottom: 16.21px;
        font-weight: 700;
        font-size: 24px;
        color: #444444;
    }

    &__content {
        margin-bottom: 37.33px;
        max-width: 533.75px;
        font-weight: 400;
        font-size: 18px;
        line-height: 24.55px;
        color: #757978;
    }
}
.first-img {
    margin-right: -40px;

    img {
        max-width: 100%;
    }
}

.scroll-carousel {
    display: block;
    margin: 0 auto;
    width: 579px;
    padding-bottom: 55.76px;
}
