//important section

.screen-two {
    background: $white;
}

.active {
    text-decoration: underline;
    color: $green;
}
.cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 71.9px;
    padding: 80px 0 80px;
    background: #ffffff;
}
.card {
    width: 356px;
    height: 300px;
    padding-top: 18px;
    border-radius: 23px;
    box-shadow: -10px 14px 18px rgba(194, 194, 194, 0.25);
    background: #ffffff;

    &__title {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        max-width: 210px;
        min-height: 65px;
        font-weight: 700;
        font-size: $title-size;
        color: $dark-grey;
        text-align: center;
    }

    &__img {
        display: block;
        margin: 20px auto 24px;
    }

    &__body {
        display: flex;
        flex-direction: column;

        &:first-child() {
            margin-bottom: 14px;
        }

        &:not(first-child) {
            gap: 4px;
        }
    }
}
