.screen-three {
    padding: 80px 0;
    background: $light-grey;
}

.title {
    font-weight: 700;
    line-height: 82px;
    font-size: $h1-size;
    text-align: center;

    color: $grey;
}

.sliders {
    padding: 59px 0 30px;
    gap: 26px;

    &__cards {
        @include rowBetween;
    }

    &__card {
        width: 260px;
        height: 390px;

        background: #ffffff;
        box-shadow: -6px 10px 15px rgba(194, 194, 194, 0.4);
        border-radius: 12px;

        p,
        h3 {
            padding-left: 27.21px;
            padding-right: 19px;
        }
    }

    &__img {
        margin-bottom: 14.68px;
    }

    &__data {
        padding-bottom: 9px;
        font-family: "Barlow";
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        color: $grey;
    }

    &__title {
        padding-bottom: 12.18px;
        font-family: "Nunito Sans";
        font-style: normal;
        font-weight: 700;
        font-size: 24px;

        color: #404040;
    }

    &__text {
        font-family: "Barlow";
        font-style: normal;
        font-weight: 400;
        font-size: 18px;

        color: #707070;
    }

    &__nav {
        display: flex;

        margin: 0 0 10.57px;

        cursor: pointer;
    }
}
