.screen-two {
    background: #fdfdfd;
}

.hidden {
    visibility: hidden;
}
.cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 23.46px;
    row-gap: 71.9px;
    padding-top: 60.65px;
    padding-bottom: 98.96px;
    background: #ffffff;
    // height: 90vh;
}
.card {
    width: 356px;
    height: 304.75px;
    border-radius: 23px;
    box-shadow: -10px 14px 18px rgba(194, 194, 194, 0.25);
    background: #ffffff;

    &__body {
        display: flex;
        flex-direction: column;

        padding: 0 41.77px;

        &:not(first-child) {
            gap: 4.32px;
        }
    }

    &__title {
        margin: 0 auto;
        padding-top: 20.71px;
        max-width: 185px;
        min-height: 66px;
        font-family: "Nunito Sans";
        font-weight: 700;
        font-size: 24px;
        color: #545454;
        text-align: center;
    }

    &__subtitle {
        font-family: "Nunito Sans";
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        color: #303030;
        margin-bottom: 7.86px;
    }

    &__img {
        display: block;
        margin: auto;
    }
}
