//consult

.four {
    background: #e3e3e3;

    &__body {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__title {
        font-weight: 700;
        font-size: $h2-size;
        line-height: 65px;
        color: $grey;
        padding-bottom: 41px;
    }

    &__img {
        max-width: 500px;
        max-height: 500px;
    }
}
