.two {
    &__body {
        display: flex;
        flex-direction: column;
    }

    &__title {
        text-align: center;
        font-family: "Nunito Sans";
        font-weight: 700;
        font-size: 48px;

        color: #707070;
    }

    &__columns {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    &__column {
        max-width: 260px;
    }
}

.column {
    &__title {
        font-family: "Nunito Sans";
        font-weight: 700;
        line-height: 33px;
        font-size: 24px;
        text-transform: uppercase;

        color: #404040;
    }
}
