// *Font family
$font-family: "Nunito Sans";

// *Size-text for desktop
$h1-size: 60px;
$h2-size: 48px;
$h3-size: 36px;
$title-size: 24px;
$text-size: 18px;

// *Size-text for mobile
$h1-size-mobile: 60px;
$h2-size-mobile: 36px;
$h3-size-mobile: 30px;
$title-size-mobile: 24px;
$text-size-mobile: 18px;

// *Colors
$white: #fdfdfd;
$light-grey: #f3f3f3;
$grey: #707070;
$dark-grey: #404040;
$green: #96be1e;

// *Breakpoints
$lg: 1200px;
$md: 992px;
$sm: 768px;
$mobile: 576px;
